@page "/projects"

<PageTitle>Projects</PageTitle>

<div class="wrapper">
	<div class="container" id="data">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="headline-lg first-child">
					Our Projects
				</h2>
				<h4>
					Timeline showcases major projects carried out by Plankton Engineering
				</h4>
				<ul class="timeline">
					@foreach (var yearGroup in groupedTimelineEvents)
					{
						<li class="clearfix"></li>
						<li class="year">
							<span>
								@yearGroup.Key
							</span>
						</li>
						<li></li>
							@foreach (var evt in yearGroup)
							{
							<li class="event animate__animated animate__zoomInDown">
								<div class="event__title">
									<h3>
										@evt.Title
									</h3>
									<time>@evt.Month @evt.Year</time>
								</div>
								<div class="event__content">
									<p>@evt.Company</p>
								</div>
							</li>
						}
					}
				</ul>
			</div>
		</div>
	</div>
</div>



@code {

	private IEnumerable<IGrouping<string, TimelineEvent>> groupedTimelineEvents;

	// Timeline data model
	public class TimelineEvent
	{
		public required string Year { get; set; }
		public required string Month { get; set; }
		public required string Title { get; set; }
		public required string Company { get; set; }
	}

	protected override void OnInitialized()
	{
		var json = File.ReadAllText("wwwroot/data/project_list.json");

		var timelineEvents = System.Text.Json.JsonSerializer.Deserialize<List<TimelineEvent>>(json);

		groupedTimelineEvents = timelineEvents.GroupBy(evt => evt.Year);
		
	}
	

}
